# Hasil `pip freeze` dari venv Python 3.9 (C:\Users\IT\venvs\comics) yang
# dipakai engine comics_text_plus via COMICS_PYTHON. Dipasang manual per
# paket (bukan `pip install -r`) karena pin resmi comics-ocr (lanms,
# spacy==3.6.0, torch 1.9) tidak bisa di-build di setup ini; sebagai ganti:
# lanms = shim lokal di venv (hanya dipakai DRRG, tak tersentuh FCENet/
# MASTER), spacy 3.4.4 + deps nlpretext dipasang terpisah. JANGAN pakai
# file ini di Python 3.12 utama (torch 1.9 tidak kompatibel).
addict==2.4.0
blis==0.7.11
catalogue==2.0.10
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.1.8
colorama==0.4.6
comics-ocr==0.1.2
confection==0.1.5
contourpy==1.2.1
cycler==0.12.1
cymem==2.0.13
emoji==2.16.0
flashtext==2.7
fonttools==4.60.2
ftfy==6.3.1
idna==3.20
ImageIO==2.37.2
imgaug==0.4.0
importlib_resources==6.5.2
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.4.7
langcodes==3.5.1
lazy-loader==0.6
lmdb==1.2.1
MarkupSafe==3.0.3
matplotlib==3.8.4
mmcv-full==1.5.0
mmdet==2.21.0
murmurhash==1.0.15
networkx==3.2.1
nlpretext==1.2.1
nltk==3.5
numpy==1.22.2
opencv-python==4.11.0.86
packaging==26.3
pathlib_abc==0.1.1
pathy==0.11.0
phonenumbers==9.0.39
Pillow==10.0.0
platformdirs==4.4.0
preshed==3.0.13
pyclipper==1.3.0.post6
pycocotools==2.0.11
pydantic==1.10.26
pyparsing==3.3.3
python-dateutil==2.9.0.post0
PyWavelets==1.4.1
PyYAML==6.0.3
rapidfuzz==1.8.3
regex==2026.1.15
requests==2.32.5
sacremoses==0.2.0
scikit-image==0.19.3
scikit-learn==1.1.3
scipy==1.9.3
Shapely==1.8.5
six==1.17.0
smart-open==6.4.0
spacy==3.4.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.3
stop-words==2018.7.23
terminaltables==3.1.10
thinc==8.1.12
threadpoolctl==3.7.0
tifffile==2024.8.30
tomli==2.4.1
torch==1.9.0+cpu
torchvision==0.10.0+cpu
tqdm==4.70.1
typer==0.7.0
typing_extensions==4.16.0
Unidecode==1.4.0
urllib3==2.6.3
wasabi==0.10.1
wcwidth==0.9.1
yapf==0.43.0
zipp==3.23.1
